
  
  


 
  .container:hover .box:before {
    top: 0;
  }
  .container:hover .box:after {
    bottom: 0;
    transition-delay: 0.5s;
  }
  .container .box:hover:before {
    top: -100%;
  }
  .container .box:hover:after {
    bottom: -100%;
  }