$break-small: 360px;
$break-medium: 600px;
$break-large: 1200px;
$break-very-large: 1500px;
$color-font-first: rgb(3, 155, 229);
$background-color-main: #424242;

body {
  margin: 0;
  background-color: $background-color-main;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container{
  width: 1140px;
  height: 400px;
  overflow: hidden;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &:hover .box:before {
    top: 0;
  }
  &:hover .box:after {
    bottom: 0;
    transition-delay: 0.5s;
  }
  .box {
    position: relative;
    width: 280px;
    height: 400px;
    background: $background-color-main;
    transition: 0.5s;
    overflow:hidden;
    img {
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
    &:before {
      content: '';
      position: absolute;
      top: -100%;
      left: 0;
      width: 50%;
      height: 100%;
      background: $background-color-main;
      z-index: 1;
      transition: 0.5s;
    }
    &:after {
      content: '';
      position: absolute;
      bottom: -100%;
      right: 0;
      width: 50%;
      height: 100%;
      background: $background-color-main;
      z-index: 1;
      transition: 0.5s;
    }
    &:hover:before {
      top: -100%;
    }
    &:hover:after {
      bottom: -100%;
    }
  }
}
.cardImage{  
  display: block;
  .thumbTitle{
    font-size: 20px;
    transform: translateY(-400px);
    text-align: center;
    opacity: 0;
  }
  &:hover .thumbTitle {
    color: #fafafa;
    opacity: 1;
    transition: opacity 3s;
    background-color: $color-font-first;
  }
}
.Modal {
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $background-color-main;
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  .containerModal{
    height: 50%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    justify-content: center;
    align-items:center;
    align-content: center;
    .containerMyModal{
      display: -webkit-box;
      .cardImage{
        .box{
          display: flex;
          justify-content: flex-end;
          overflow: hidden;
          position: sticky;
          .imgModal{
            width: 100%;
            height: 80%;
            max-height: 650px;   
            margin-left: auto;
            margin-right: auto;
            @media screen and (max-width: $break-small) {
              max-height: 650px;
              height: 100%;
            }
            @media screen and (min-width: $break-large) {
              max-height: 450px;
            }
            @media screen and (min-width: $break-very-large) {
              max-height: 800px;
            }            
          }
        }        
      }
      .littleContainerName{
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;            
        .nameModalImage{
          color: $color-font-first;
          text-transform: uppercase;
          font-size: 30px;
          width: 200px;
          writing-mode: vertical-lr;
          -webkit-writing-mode: vertical-lr;
          text-orientation: upright;
        }
      }       
    }
  }
}
.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $background-color-main
}
.containerMain{
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: $background-color-main;
}
.buttonSlider{
  color: $color-font-first;
  background-color: $background-color-main;
  border-width: 0;
  cursor: pointer;
  margin: 0.5em;
  height: 30px;
  &.bt-left{
    background: url('http://svgshare.com/i/41_.svg') no-repeat center center / 16px;
    text-align: left;
    left: -10px;
    left: 0;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    &:hover{
      transform: rotate(180deg) scale(1.5);
    }
  }  
  &.bt-right{
    background: url('http://svgshare.com/i/41_.svg') no-repeat center center / 16px;
    text-align: right;
    right: 0;
    &:hover{
      transform: scale(1.5);
    }
  }
}
.details{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  z-index: 11;
  pointer-events: none;
  transition: 0.5s;
  opacity: 0;
  &--active{
    transition: 0.8s;
    opacity: 1;
    position: absolute;
    z-index: 11;
    padding: 1em;
    font-size: 120%;
    align-self: center;
    text-align: justify;
    text-indent: 1.5em;
    color: $color-font-first;
  }
}
.toggleMain{
  cursor: pointer;
  position: absolute;
  border-radius: 100%;
  right: 20px;
  bottom: 20px;
  outline: none;
  text-align: center;
  z-index: 10;  
  background-color: #fff;
  transition: 0.5s;
  font-size: 36px;
  box-shadow: 0 0 0 0px $background-color-main;
  align-self: flex-end;
  .placeToggle{
    border-radius: 100%;
    background-color: #fff;
    height: 60px;
    width: 60px;
  }
  &--active{
    cursor: pointer;
  position: absolute;
  border-radius: 100%;
  right: 20px;
  bottom: 20px;
  outline: none;
  text-align: center;
  z-index: 10;  
  background-color: #fff;
  transition: 0.5s;
  align-self: flex-end;
  font-size: 36px;
    box-shadow: 0 0 0 1000px $background-color-main;
    transform: rotate(225deg);
  }  
}
 
button, input, optgroup, select, textarea{
  font-family: none;
}
button.placeToggle{
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 100%;
  right: 20px;
  bottom: 20px;
  outline: none;
  text-align: center;
  z-index: 10;  
  background-color: #fff;
  transition: 0.5s;
  align-self: flex-end;
  font-size: 36px;
}
 
