body {
  margin: 0;
  background-color: #424242;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 1200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container:hover .box:before {
  top: 0;
}

.container:hover .box:after {
  bottom: 0;
  transition-delay: 0.5s;
}

.container .box {
  position: relative;
  width: 280px;
  height: 400px;
  background: #424242;
  transition: 0.5s;
  overflow: hidden;
}

.container .box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .box:before {
  content: '';
  position: absolute;
  top: -100%;
  left: 0;
  width: 50%;
  height: 100%;
  background: #424242;
  z-index: 1;
  transition: 0.5s;
}

.container .box:after {
  content: '';
  position: absolute;
  bottom: -100%;
  right: 0;
  width: 50%;
  height: 100%;
  background: #424242;
  z-index: 1;
  transition: 0.5s;
}

.container .box:hover:before {
  top: -100%;
}

.container .box:hover:after {
  bottom: -100%;
}

.cardImage {
  display: block;
}

.cardImage .thumbTitle {
  font-size: 20px;
  transform: translateY(-400px);
  text-align: center;
  opacity: 0;
}

.cardImage:hover .thumbTitle {
  color: #fafafa;
  opacity: 1;
  transition: opacity 3s;
  background-color: #039be5;
}

.Modal {
  display: grid;
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  background-color: #424242;
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.Modal .containerModal {
  height: auto;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.Modal .containerModal .containerMyModal {
  display: -webkit-box;
}

.Modal .containerModal .containerMyModal .cardImage .box {
  display: flex;
  justify-content: center;
}

.Modal .containerModal .containerMyModal .cardImage .box .imgModal {
  width: 90%;
  height: 80%;
  max-width: 1200px;
  max-height: 670px;
  margin-left: auto;
  margin-right: auto;
}

.Modal .containerModal .containerMyModal .littleContainerName {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.Modal .containerModal .containerMyModal .littleContainerName .nameModalImage {
  color: #039be5;
  text-transform: uppercase;
  font-size: 30px;
  width: 200px;
  writing-mode: vertical-lr;
  -webkit-writing-mode: vertical-lr;
  text-orientation: upright;
}
